In [1]:
import sys
import os

# Project root
if os.getcwd().endswith("notebooks"):
    os.chdir("..")

# Adding the root path to Python path
sys.path.append(os.getcwd())

In [2]:
from preprocessing_package.extract_artist_name import create_image_artist_df

df = create_image_artist_df()
df.head(5)

                                  image_path        artist_name
0      raw_data/resized/Gustav_Klimt_113.jpg       Gustav Klimt
1  raw_data/resized/Vincent_van_Gogh_388.jpg   Vincent van Gogh
2  raw_data/resized/Amedeo_Modigliani_24.jpg  Amedeo Modigliani
3       raw_data/resized/Edgar_Degas_455.jpg        Edgar Degas
4       raw_data/resized/Edgar_Degas_333.jpg        Edgar Degas

In [3]:
import pandas as pd

In [4]:
# Load the artists.csv metadata
artists_df = pd.read_csv("raw_data/artists.csv")

# make names lowercase
artists_df["name_clean"] = artists_df["name"].str.lower()
df["artist_name_clean"] = df["artist_name"].str.lower()

# Join on cleaned names
merged_df = df.merge(artists_df, left_on="artist_name_clean", right_on="name_clean", how="left")
print(merged_df.head(5))

                                  image_path        artist_name  \
0      raw_data/resized/Gustav_Klimt_113.jpg       Gustav Klimt
1  raw_data/resized/Vincent_van_Gogh_388.jpg   Vincent van Gogh
2  raw_data/resized/Amedeo_Modigliani_24.jpg  Amedeo Modigliani
3       raw_data/resized/Edgar_Degas_455.jpg        Edgar Degas
4       raw_data/resized/Edgar_Degas_333.jpg        Edgar Degas

   artist_name_clean  id               name        years  \
0       gustav klimt   9       Gustav Klimt  1862 - 1918
1   vincent van gogh   8   Vincent van Gogh  1853 – 1890
2  amedeo modigliani   0  Amedeo Modigliani  1884 - 1920
3        edgar degas  30        Edgar Degas  1834 - 1917
4        edgar degas  30        Edgar Degas  1834 - 1917

                   genre nationality  \
0  Symbolism,Art Nouveau    Austrian
1     Post-Impressionism       Dutch
2          Expressionism     Italian
3          Impressionism      French
4          Impressionism      French

                                                 bio  \
0  Gustav Klimt (July 14, 1862 – February 6, 1918...
1  Vincent Willem van Gogh (Dutch: [ˈvɪnsɛnt ˈʋɪl...
2  Amedeo Clemente Modigliani (Italian pronunciat...
3  Edgar Degas (US:  or UK: ; born Hilaire-Germai...
4  Edgar Degas (US:  or UK: ; born Hilaire-Germai...

                                        wikipedia  paintings  \
0       http://en.wikipedia.org/wiki/Gustav_Klimt        117
1   http://en.wikipedia.org/wiki/Vincent_van_Gogh        877
2  http://en.wikipedia.org/wiki/Amedeo_Modigliani        193
3        http://en.wikipedia.org/wiki/Edgar_Degas        702
4        http://en.wikipedia.org/wiki/Edgar_Degas        702

          name_clean
0       gustav klimt
1   vincent van gogh
2  amedeo modigliani
3        edgar degas
4        edgar degas

In [5]:
# Save the result to CSV
df.to_csv("raw_data/image_artist_mapping.csv", index=False)

In [6]:
df

,image_path,artist_name,artist_name_clean
0,raw_data/resized/Gustav_Klimt_113.jpg,Gustav Klimt,gustav klimt
1,raw_data/resized/Vincent_van_Gogh_388.jpg,Vincent van Gogh,vincent van gogh
2,raw_data/resized/Amedeo_Modigliani_24.jpg,Amedeo Modigliani,amedeo modigliani
3,raw_data/resized/Edgar_Degas_455.jpg,Edgar Degas,edgar degas
4,raw_data/resized/Edgar_Degas_333.jpg,Edgar Degas,edgar degas
...,...,...,...
7605,raw_data/resized/Mikhail_Vrubel_116.jpg,Mikhail Vrubel,mikhail vrubel
7606,raw_data/resized/Joan_Miro_51.jpg,Joan Miro,joan miro
7607,raw_data/resized/Frida_Kahlo_10.jpg,Frida Kahlo,frida kahlo
7608,raw_data/resized/Vincent_van_Gogh_391.jpg,Vincent van Gogh,vincent van gogh
7609,raw_data/resized/Andrei_Rublev_42.jpg,Andrei Rublev,andrei rublev